<div class="Pokecard">
   <h1 class="Pokecard-title">@Name</h1>
   <img src="@ImgSrc" alt="@Name"/>
   <div class="Pokecard-data">Type= @Type</div>
   <div class="Pokecard-data">Exp= @Exp</div>
   
</div>

@code {
       public const string POKE_API = "https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/";
   
   [Parameter]
   public int Id { get; set; }
   [Parameter]
   public string Name { get; set; }
   [Parameter]
   public string Type { get; set; }
   [Parameter]
   public int Exp { get; set; }

   public string ImgSrc => $"{POKE_API}{Id}.png";
}