<div class="Pokecard">
    <h2 class="Pokecard-title">@Name</h2>
    <div class="Pokecard-image">
        <img src="@ImgSrc" alt="@Name"/>
    </div>
   <div class="Pokecard-data">Type= @Type</div>
   <div class="Pokecard-data">Exp= @Exp</div>
   
</div>

@code {
        
        public const string POKE_API = "https://assets.pokemon.com/assets/cms2/img/pokedex/detail/";
   
   [Parameter]
   public int Id { get; set; }
   [Parameter]
   public string Name { get; set; }
   [Parameter]
   public string Type { get; set; }
   [Parameter]
   public int Exp { get; set; }

   public string ImgSrc => $"{POKE_API}{PadToThree(Id)}.png";
    
    
    Func<int,string> PadToThree = (number) => number <= 999 ? $"00{number}"[^3..] : number.ToString();


}