@using Pokedex.Models

<div class="PokeDex">
    @if (IsWinner)
    {
        <h1 class="PokeDex-winner">Winning hand</h1>
    }
    else
    {
        <h1 class="PokeDex-loser">Losing hand</h1>
    }
    <h4>Total experience: @Exp</h4>
    <div class="PokeDex-cards">
        @foreach (var pokemon in Pokemons)
        {
            <Pokecard Id="@pokemon.Id" Name="@pokemon.Name" Type="@pokemon.Type" Exp="@pokemon.BaseExperience"/>
        }
    </div>

</div>

@code {
    [Parameter]
    public List<Pokemon> Pokemons { get; set; }
    [Parameter]
    public int Exp { get; set; }
    [Parameter]
    public bool IsWinner { get; set; }

    
}